.cards1 {
  display: inline-block;
  width: 300px;
  height: 280px;
}

.cards2 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
.cards3 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
.carded1 {
  display: inline-block;
  width: 300px;
  height: 280px;
}

.carded2 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
.carded3 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
.car1 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
.car2 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
.back1 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
.back2 {
  display: inline-block;
  width: 300px;
  height: 280px;
}
